.header{
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #141414;
}
.logo{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 20px;
}
.header-links{
    display: flex;
   
    
   
}
.header-links ul li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.header-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
     padding: 0px 15px;
     cursor: pointer;
}
.header-links ul li a:hover{
    color: #fffc3c;
    cursor: pointer;
}